---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="David Umiri"
  description="Portfolio personal de David Umiri mostrando proyectos y habilidades de desarrollo web."
  keywords="David Umiri, desarrollo web, portfolio, proyectos"
>
  <main class="p-4 sm:p-8 md:p-16 mt-8 md:mt-16">
    <h1
      class="text-gray-800 dark:text-white text-3xl sm:text-4xl md:text-5xl mb-4 mt-4 sm:mb-6 md:mb-8"
    >
      ¡Bienvenido!
    </h1>

    <p
      class="text-gray-700 dark:text-white text-base sm:text-lg md:text-xl mb-4 sm:mb-6 md:mb-8"
    >
      Soy David, Desarrollador de Aplicaciones Web apasionado por las soluciones
      funcionales y bien diseñadas. Mis habilidades principales incluyen el
      dominio de tecnologías modernas como HTML, CSS, JavaScript, PHP y Java,
      así como frameworks como Vue.js y Spring Boot. He trabajado con el CMS
      WordPress en varios proyectos, lo que me ha permitido adquirir una visión
      integral del ciclo de vida del desarrollo web, desde la concepción hasta
      la implementación y mantenimiento.
    </p>

    <h2
      id="code-projects"
      class="text-gray-800 dark:text-white text-2xl sm:text-3xl md:text-4xl mb-4 sm:mb-6 md:mb-8"
    >
      Proyectos de Código
    </h2>
    <ul
      role="list"
      class="flex flex-col sm:flex-row gap-4 sm:gap-5 flex-wrap text-black"
    >
      <Card
        image="/portfolio-dauc/images/proyecto-buscar-imagenes.webp"
        title="Buscador de Imágenes"
        description="Una aplicación web dinámica que permite a los usuarios encontrar imágenes de alta calidad utilizando la API de Unsplash. Diseñada con una interfaz moderna para una experiencia fluida."
        link="https://app-fotos-frontend.vercel.app/"
        technologies={["nodejs", "react", "tailwindcss", "vercel"]}
        imageLoading="eager"
        techLoading="lazy"
      />
      <Card
        image="/portfolio-dauc/images/proyecto-quasar-pomodoro-to-do.webp"
        title="Pomodoro + Lista de Tareas"
        description="Una aplicación de productividad todo en uno que combina la gestión de tareas y la técnica Pomodoro, construida con Quasar para mejorar el enfoque y la eficiencia."
        link="https://quasar-to-do-pomodoro.vercel.app/#/"
        technologies={["quasar", "vue", "vercel"]}
        imageLoading="eager"
        techLoading="lazy"
      />
    </ul>

    <h2
      id="wordpress-projects"
      class="mt-10 text-gray-800 dark:text-white text-2xl sm:text-3xl md:text-4xl mb-4 sm:mb-6 md:mb-8"
    >
      Proyectos WordPress
    </h2>
    <ul
      role="list"
      class="flex flex-col sm:flex-row gap-4 sm:gap-5 flex-wrap text-black"
    >
      <Card
        image="/portfolio-dauc/images/inmasan-tecnologia.webp"
        title="Inmasan Tecnología"
        description="Un sitio web profesional desarrollado para Inmasan Tecnología, mostrando sus servicios y experiencia en un formato visualmente atractivo."
        link="https://www.inmasan.com/"
        technologies={["wordpress", "elementor", "ovhcloud"]}
        imageLoading="lazy"
        techLoading="lazy"
      />
      <Card
        image="/portfolio-dauc/images/gofastweb.webp"
        title="Go Fast Web"
        description="Un sitio web rápido y responsive creado para Go Fast Web, diseñado para destacar efectivamente sus soluciones de desarrollo web."
        link="https://gofastweb.es/"
        technologies={["wordpress", "elementor", "hostinger"]}
        imageLoading="lazy"
        techLoading="lazy"
      />
      <Card
        image="/portfolio-dauc/images/michinews.webp"
        title="Michi News"
        description="Un blog cautivador dedicado a los amantes de los gatos, desarrollado para ofrecer contenido atractivo con un diseño fácil de navegar."
        link="https://michinews.com/"
        technologies={["wordpress", "elementor", "hostinger"]}
        imageLoading="lazy"
        techLoading="lazy"
      />
    </ul>
  </main>
</Layout>
