---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="David Umiri">
  <main class="p-6 mt-16">
    <h1 class="text-5xl text-white mb-8">Welcome! I'm David Umiri 👋</h1>

    <p class="text-lg text-white mb-8">
      I'm a Full-Stack Developer with a passion for creating innovative and
      user-friendly Web Applications.
    </p>

    <!-- Contenedor responsivo para las tarjetas -->
    <h2 id="projects" class="text-3xl text-white mb-8">Projects</h2>
    <ul
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
    >
      <Card
        image="/images/proyecto-buscar-imagenes.png"
        title="Search Images"
        description="This project is a web application that allows users to search for images using the Unsplash API."
        link="https://app-fotos-frontend.vercel.app/"
        technologies={["nodejs", "react", "tailwindcss", "vercel"]}
      />
      <Card
        image="/images/proyecto-quasar-pomodoro-to-do.png"
        title="Pomodoro + To Do List"
        description="This project is a web application built with Quasar that helps users manage their tasks using the Pomodoro technique."
        link="https://quasar-to-do-pomodoro.vercel.app/#/"
        technologies={["quasar", "vue", "vercel"]}
      />
    </ul>
  </main>
</Layout>
