---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="David Umiri">
  <main class="p-6">
    <h1 class="text-5xl text-white mb-8">Welcome to my Portfolio</h1>

    <!-- Contenedor responsivo para las tarjetas -->
    <h2 class="text-3xl text-white mb-8">Projects</h2>
    <ul
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
    >
      <Card
        image="/images/github.png"
        title="Project 1"
        description="Description."
        link="https://github.com/DavidUmiri"
      />
    </ul>
  </main>
</Layout>
