---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="David Umiri">
  <main class="p-6 mt-16">
    <h1 class="text-5xl text-white mb-8">Welcome! I'm David Umiri 👋</h1>

    <p class="text-lg text-white mb-8">
      As a Full-Stack Developer, I specialize in building innovative,
      user-friendly Web Applications.
    </p>

    <!-- Contenedor responsivo para las tarjetas -->
    <h2 id="code-projects" class="text-3xl text-white mb-8">Code Projects</h2>
    <ul
      role="list"
      class="flex gap-5 flex-wrap">
      <Card
        image="/images/proyecto-buscar-imagenes.png"
        title="Search Images"
        description="A dynamic web application that enables users to find high-quality images using the Unsplash API. Designed with a modern interface for a seamless experience."
        link="https://app-fotos-frontend.vercel.app/"
        technologies={["nodejs", "react", "tailwindcss", "vercel"]}
      />
      <Card
        image="/images/proyecto-quasar-pomodoro-to-do.png"
        title="Pomodoro + To Do List"
        description="An all-in-one productivity app combining task management and the Pomodoro technique, built with Quasar to enhance focus and efficiency."
        link="https://quasar-to-do-pomodoro.vercel.app/#/"
        technologies={["quasar", "vue", "vercel"]}
      />
    </ul>
    <br><br>
    <h2 id="wordpress-projects" class="text-3xl text-white mb-8">WordPress Projects</h2>
    <ul
      role="list"
      class="flex gap-5 flex-wrap">
      <Card
        image="/images/inmasan-tecnologia.png"
        title="Inmasan Tecnología"
        description="A professional website developed for Inmasan Tecnología, showcasing their services and expertise in a visually engaging format."
        link="https://www.inmasan.com/"
        technologies={["wordpress", "elementor", "ovhcloud"]}
      />
      <Card
        image="/images/gofastweb.png"
        title="Go Fast Web"
        description="A fast and responsive website crafted for Go Fast Web, designed to highlight their web development solutions effectively."
        link="https://gofastweb.es/"
        technologies={["wordpress", "elementor", "hostinger"]}
      />
      <Card
        image="/images/michinews.png"
        title="Michi News"
        description="A captivating blog dedicated to cat lovers, developed to deliver engaging content with an easy-to-navigate design."
        link="https://michinews.com/"
        technologies={["wordpress", "elementor", "hostinger"]}
      />
    </ul>
  </main>
</Layout>
