---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="David Umiri">
  <main class="p-4 sm:p-8 md:p-16 mt-8 md:mt-16">
    <h1 class="text-3xl sm:text-4xl md:text-5xl text-white mb-4 mt-4 sm:mb-6 md:mb-8">
      Welcome! I'm David Umiri 👋
    </h1>

    <p class="text-base sm:text-lg md:text-xl text-white mb-4 sm:mb-6 md:mb-8">
      Web Application Developer passionate about functional and well-designed solutions. My core skills include proficiency in modern technologies such as HTML, CSS, JavaScript, PHP and Java, as well as frameworks such as Vue.js and Spring Boot. I have worked with the WordPress CMS in several projects, which has allowed me to acquire a comprehensive view of the web development lifecycle, from conception to implementation and maintenance.
    </p>

    <!-- Contenedor responsivo para las tarjetas -->
    <h2 id="code-projects" class="text-2xl sm:text-3xl md:text-4xl text-white mb-4 sm:mb-6 md:mb-8">
      Code Projects
    </h2>
    <ul role="list" class="flex flex-col sm:flex-row gap-4 sm:gap-5 flex-wrap">
      <Card
        image="/portfolio-dauc/images/proyecto-buscar-imagenes.webp"
        title="Search Images"
        description="A dynamic web application that enables users to find high-quality images using the Unsplash API. Designed with a modern interface for a seamless experience."
        link="https://app-fotos-frontend.vercel.app/"
        technologies={["nodejs", "react", "tailwindcss", "vercel"]}
      />
      <Card
        image="/portfolio-dauc/images/proyecto-quasar-pomodoro-to-do.webp"
        title="Pomodoro + To Do List"
        description="An all-in-one productivity app combining task management and the Pomodoro technique, built with Quasar to enhance focus and efficiency."
        link="https://quasar-to-do-pomodoro.vercel.app/#/"
        technologies={["quasar", "vue", "vercel"]}
      />
    </ul>

    <h2 id="wordpress-projects" class="mt-10 text-2xl sm:text-3xl md:text-4xl text-white mb-4 sm:mb-6 md:mb-8">
      WordPress Projects
    </h2>
    <ul role="list" class="flex flex-col sm:flex-row gap-4 sm:gap-5 flex-wrap">
      <Card
        image="/portfolio-dauc/images/inmasan-tecnologia.webp"
        title="Inmasan Tecnología"
        description="A professional website developed for Inmasan Tecnología, showcasing their services and expertise in a visually engaging format."
        link="https://www.inmasan.com/"
        technologies={["wordpress", "elementor", "ovhcloud"]}
      />
      <Card
        image="/portfolio-dauc/images/gofastweb.webp"
        title="Go Fast Web"
        description="A fast and responsive website crafted for Go Fast Web, designed to highlight their web development solutions effectively."
        link="https://gofastweb.es/"
        technologies={["wordpress", "elementor", "hostinger"]}
      />
      <Card
        image="/portfolio-dauc/images/michinews.webp"
        title="Michi News"
        description="A captivating blog dedicated to cat lovers, developed to deliver engaging content with an easy-to-navigate design."
        link="https://michinews.com/"
        technologies={["wordpress", "elementor", "hostinger"]}
      />
    </ul>
  </main>
</Layout>