---
const navLinks = [
  { href: "./", label: "Home" },
  { href: "#code-projects", label: "Code Projects" },
  { href: "#wordpress-projects", label: "WordPress Projects" },
];
---

<nav class="bg-gray-800 p-4 fixed top-0 w-full z-10">
  <div class="container flex justify-between items-center mx-auto">
    <!-- Menú de Navegación -->
    <ul class="flex space-x-8">
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href} class="text-white hover:text-gray-400">
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>

    <!-- Redes Sociales -->
    <div class="flex space-x-8">
      <a href="https://github.com/DavidUmiri">
        <img
          src="/portfolio-dauc/images/github.png"
          alt="GitHub David Umiri"
          class="w-8 h-8"
        />
      </a>
      <a href="https://linkedin.com/in/davidumiri">
        <img
          src="/portfolio-dauc/images/linkedin.png"
          alt="LinkedIn David Umiri"
          class="w-8 h-8"
        />
      </a>
    </div>
  </div>
</nav>
