---
const navLinks = [
  { href: "./", label: "Home" },
  { href: "#code-projects", label: "Code Projects" },
  { href: "#wordpress-projects", label: "WordPress Projects" },
];
---

<nav class="bg-gray-800 px-4 sm:px-8 md:px-16 py-3 sm:py-4 md:py-5 fixed top-0 w-full z-10">
  <div class="container flex justify-between items-center mx-auto">
    <!-- Menú de Navegación -->
    <div class="flex items-center">
      <button id="menu-btn" class="text-white focus:outline-none sm:hidden mr-4">
        <div class="space-y-1">
          <span class="block h-0.5 w-6 bg-white"></span>
          <span class="block h-0.5 w-6 bg-white"></span>
          <span class="block h-0.5 w-6 bg-white"></span>
        </div>
      </button>
    </div>

    <ul id="menu" class="hidden sm:flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-5 items-center">
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href} class="text-white hover:text-gray-400">
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>

    <!-- Redes Sociales -->
    <div class="flex space-x-3 sm:space-x-5 items-center">
      <a href="https://github.com/DavidUmiri">
        <img
          src="/portfolio-dauc/images/github.png"
          alt="GitHub David Umiri"
          class="w-5 h-5 sm:w-6 sm:h-6"
        />
      </a>
      <a href="https://linkedin.com/in/davidumiri">
        <img
          src="/portfolio-dauc/images/linkedin.png"
          alt="LinkedIn David Umiri"
          class="w-5 h-5 sm:w-6 sm:h-6"
        />
      </a>
    </div>
  </div>

  <!-- Menú desplegable para móviles -->
  <div id="mobile-menu" class="hidden sm:hidden fixed top-0 left-0 w-2/3 h-full bg-gray-800 z-20">
    <div class="flex justify-between items-center p-4">
      <div class="text-white text-xl">Menu</div>
      <button id="close-btn" class="text-white focus:outline-none">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <ul class="flex flex-col space-y-2 p-4">
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href} class="text-white hover:text-gray-400 block px-4 py-2 menu-item">
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script type="module">
  const menuBtn = document.getElementById('menu-btn');
  const closeBtn = document.getElementById('close-btn');
  const mobileMenu = document.getElementById('mobile-menu');
  const menuItems = document.querySelectorAll('.menu-item');

  menuBtn.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });

  closeBtn.addEventListener('click', () => {
    mobileMenu.classList.add('hidden');
  });

  window.addEventListener('click', (e) => {
    if (!mobileMenu.contains(e.target) && !menuBtn.contains(e.target)) {
      mobileMenu.classList.add('hidden');
    }
  });

  menuItems.forEach(item => {
    item.addEventListener('click', () => {
      mobileMenu.classList.add('hidden');
    });
  });
</script>